#Ignore database config
protected/config/db.conf.php

#Ignore config common
protected/config/common.conf.php

#Ignore documentacion
/documentacion

#Ignore docs
/global/docs/planillas/.pdf
/global/docs/planillas/qrcodes/.png
